.list-group-item
{
    background-color:#f2f2f2 !important;
}
h1
{
    font-size: 25px !important;
    color: #400080 !important;
    text-align:center;
}
@media (max-width:440px)
{
    .indexImage
    {
        width:100%;
    }
}
@media (max-width:767px)
{
    .teststyle
    {
        visibility:hidden;
        height:0px;
        width:0px;
    }
    .row
    {
        margin-top:-50px;
    }
    .right-panel
    {
        width:100% !important;
    }
}